.build/
*.a
*.h
!Sources/CVero/include/*.h
example/menubar-app/worker
__pycache__/
*.so
*.dylib
*.dll
example/gtk-app/worker
.linuxbuild/
.windows/unattend/unattend.iso
/dist/
.gifframes.*
example/wpf-app/bin/
example/wpf-app/obj/
example/web-app/main.wasm
example/web-app/wasm_exec.js
example/ios-app/.build/
example/android-app/.build/
.android-emulator.log
example/wasi-app/.build/
.DS_Store
cmd/vero-repo/vero-repo
dist/
cmd/vero/vero
